* {
  box-sizing: border-box;
}

html {
  font-family: 'Arial', sans-serif;
  background: #ddd;
}

body {
  color: #333;
  background: white;
  border-radius: 15px;
  width: 94%;
  max-width: 1000px;
  margin: 20px auto;
}

header, main, footer {
  padding: 20px;
  border-bottom: 2px solid;
}

nav {
  display: flex;
}

footer {
  background: #333;
  color: white;
  margin-top: 20px;
  border-radius: 0 0 15px 15px;
  text-align: center;
}

footer p {
  margin: 0;
}
