* {
  box-sizing: border-box;
}

html {
  font-family: 'Arial', sans-serif;
  background: #ddd;
}

body {
  color: #333;
  background: white;
  border-radius: 15px;
  width: 94%;
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

header, main, footer {
  padding: 20px;
  border-bottom: 2px solid;
}

nav {
  display: flex;
}

nav a {
  flex-grow: 1;
  text-align: center;
  background: #eee;
  padding: 10px;
  border: 1px solid;
  margin: 3px;
  text-decoration: none;
  transition: all 0.2s ease;
  border-radius: 5px;
}

nav a:hover {
  background: blue;
  color: white;
}

img {
  max-width: 100%
}

footer {
  background: #333;
  color: white;
  margin-top: 20px;
  border-radius: 0 0 15px 15px;
  text-align: center;
}

footer p {
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  display: block;
  margin: 0 auto;
  animation: spin 5s linear infinite;
}

@media (max-width: 500px) {
  nav {
    display: grid;
  }
}
